body {
	background-color: #EDEEF7;
	font-size: 20px/24px;
	font-family: 'Lato', Helvetica Neue, Helvetica, sans-serif;
}

/* Global Structure */
.container {
	max-width: 960px;
	margin: auto;
	padding: 1%;
}

.header {
	margin: 0 auto;
	padding: 0 auto;
	text-align: center;
}

.header img {
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}
label {
	margin-right: 10px;
}

/* Text Styling */
h1 {
	font-size: 32px;
	font-weight: 700;
}
h2 {
	font-size: 25px;
	font-weight: 400;
}
li{
	list-style-type: none;
}

a {
	text-decoration: none;
	color: black;
}
a:active{
	color: black;
}
a:hover{
	color: #ADAEB8;
}
p{
	font-size: 16px;
	padding-left: 2.5%;
	padding-right: 2.5%;
}


/* Index Style */
.links {
	width: 300px;
	margin-right: auto;
	margin-left: auto;
}

.links ul {
	float: left;
}
.links li {
	padding-left: 15px;
	display: inline-block;
}
#about {
	margin-top: 60px;
}

/* Resume Styling */

.experience, .education{
	width: 450px;
	margin: 0 auto;
	padding: 0 auto;
	text-align: left;
}

.top-list {
	font-size: 20px;
}
.title {
	font-weight: 300;
}
.date {
	font-weight: 300;
}

/* Experience */
.experience img {
	float: left;
	width: 70px;
	height: 70px;
	margin-top: -5px;
	margin-right:10px;
}


/* Education */
.education img {
	float: left;
	width: 70px;
	height: 70px;
	margin-top: -5px;
	margin-right:10px;
}



